/*    */
@import url("https://use.typekit.net/jpw0pnj.css");




/*Body, main,and html*/
body{
    background-color: #0f0f0f;
    color:white;
    text-decoration: none;
    font-family: "copperplate", serif;
    font-weight: 300;
    font-style: normal;
    margin:0 auto;
    max-width: 1920px;
}
hr{
    width:99.9%;
    height:1%;
    background-color: white;
    margin:0;
}









/*Header*/
#header-text h1{
    margin:0;
    padding:0;
}
.header{
    font-size:1.6em;   
}
#header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:100px;
    
}
#header a{
    text-decoration: none;
    color:white;
}
#account img{
    width:50px;
    text-align: center;
    float:right;
    margin:5px;
 }
 #account{   
    width:18%;
    margin-right:1%;
     
 }
 
/* Dropdown */

/* Navbar container */
.navbar {
    overflow: hidden;
    font-weight:100;
    font-style: normal;
    width:18%;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2px 13px; 
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  


  /* Dropdown button */
  .dropdown .dropbtn {
    font-size:1em;
    font-style: normal;
    border: none;
    outline: none;
    color: white;
    padding: 2px 13px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown .dropbtn{
    font-weight: 100;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #2f2e2e;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f0f0f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #2f2e2e;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* Main page*/

#cover{
    padding-top:5%;
    text-align: center;
}
#cover-image img{
    width:60%;
}






/* About text */
#infoabout{
    margin-top:2%;
    margin-bottom:2%;
}
#infoabout p{
    margin:0;
}


.a1{
    font-size:1em;
}
.a2, .a3, .a4
{
    font-size:2em;
}

/* HEADER BOXES */
#head-box1 h1,#head-box2 h1,#head-box3 h1{
    font-size: 3em;
    margin:0;
    margin-top:1%;
    margin-bottom:1%;
    text-align: center;
}


/* About */

#aboutcontent{
    text-align: center;
    margin-top:2%;
    margin-bottom:2%;
}
.mepicture{
    width:20%;
    padding:2px;
    background-color: white;
    float:left;
    margin-left:20%;
    margin-bottom:2%;
}
#abouttext{
    margin-right:20%;
    margin-left:42%;
}
#abouttext h1{
    font-size:2.5em
}
#abouttext p{
    font-size:1.5em;
}










/* Experience */


/* TEXT PROPERTIES */
#experience{
    text-align: center;
    margin-bottom:2;
}


#experience-info h3{
    margin:0;
    margin-top:1%;
    margin-bottom:1%;
}

/* EXPERIENCE INFO*/
.experiencehead{
    font-size:2.5em;
}
.experiencetext{
    margin:0;
    font-size:1.5em;

}



/* REFERENCES SECTION */

#refbox1, #refbox2, #refbox3{
    margin-left:10%;
    margin-right:10%;
    margin-bottom:8%;
}
#refbox1 img, #refbox3 img{
    width:20%;
    float:left;
    margin:1%;
    margin-top:0;
}
#refbox2 img{
    width:20%;
    float:right;
    margin:1%;
    margin-top:0;
}
#references img{
    padding:2px;
    background-color: white;
}

.reftext1 p, .reftext2 p, .reftext3 p{
    font-size:1.1em;
    margin:0;
    
}
#refbox2 h1{
    text-align: right;
}
.reftext2 p{
    text-align: right;
}




/* Contact us Page */
#leftcont{
    margin-left:10%;
    width:40%;
    float:left;
}


#rightcont{
    margin-right:10%;
    margin-left:50%;
    text-align:right;
    padding-top:1%;
}
#rightcont img{
    width:12%;
}

#contactcontent{
    margin-bottom:17%;
}
#rightfacebook img{
    float:right;
    margin-left:1%;
}
#rightfacebook p{
    font-size:4em;
}
#rightemail img{
    float:right;
    margin-left:1%;
}
#rightemail p{
    font-size:4em;
}
#rightinsta img{
    float:right;
    margin-left:1%;
}
#rightinsta p{
    font-size:4em;
    
}






/* Footer */

#footer{
    display:flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
#footinfo{
    width:18%;
}
#footinfo a{
   color:white;
   text-decoration: none;
   font-size:2em;
   text-align:right;
   margin-left:15%;
   margin-right:15%;
   
}



#foothead h1{
    font-size:7em;
    margin:0;
}
#footsocials{
    width:18%;
}
#footsocials img{
    width:20%;
    text-align: right;
    margin:5%;
}




@media screen and (max-width:700px)
{
    #foothead h1{
        font-size:3em;
        margin:0;
    }
    #footinfo a{
        font-size:0.5em
    }



    #refbox1 h1, #refbox2 h1, #refbox3 h1{
        margin:3%;
    }
    #refbox2 h1{
        text-align: center;
        
    }
    .reftext2 p{
        text-align: center;
    }
    
    #refbox1, #refbox2, #refbox3{
        margin-left:1%;
        margin-top:1%;
        margin-right:1%;
        text-align: center;
    }
    #refbox1 img, #refbox2 img, #refbox3 img{
        float:none;
        width:50%;
        
    }

    .othertext a,.dropdown .dropbtn{
        padding-left:0;
        margin-left:0;
        
    }
    #nav_bar a{
        margin:5px;
        font-size:0.8em ;
      }

    /* Cover */
    #cover-image img{
        width:80%;
    }
    .a1{
        font-size:2vw;
    }
    .a2, .a3, .a4
    {
        font-size:3.5vw;
    }

    /* Experience */
    .experiencehead{
        font-size:1.5em;
    }
    .experiencetext{
        margin:0;
        font-size:0.8em;
    }

    /* About */
    .mepicture{
        float:none;
    }
    .mepicture{
        width:30%;
        text-align: center;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
    }
    #abouttext{
        margin-right:5%;
        margin-left:5%;
    
    }
    #abouttext h1{
        margin:0; 
        font-size:1.5em;
    
    }
    #abouttext p{
        margin:0;
        font-size:0.8em;
    }
    #aboutp p{
        margin-left:5%;
        
    }
}