/*    */
@import url("https://use.typekit.net/jpw0pnj.css");




/*Body, main,and html*/
body{
    background-color: #0f0f0f;
    color:white;
    text-decoration: none;
    font-family: "copperplate", serif;
    font-weight: 300;
    font-style: normal;
    margin:0 auto;
    max-width: 1920px;
}
hr{
    width:99.9%;
    height:1%;
    background-color: white;
    margin:0;
}



/*Header*/
#header-text h1{
    margin:0;
    padding:0;
}
.header{
    font-size:1.6em;   
}
#header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:100px;
    
}
#header a{
    text-decoration: none;
    color:white;
}
#nav_bar{
    margin-left:1%;
    width:18%;
    line-height:25px;
}
#nav_bar a{
  margin:5px;
  font-size:1;
}
#account img{
   width:50px;
   text-align: center;
   float:right;
   margin:5px;
}
#account{   
    width:18%;
    margin-right:1%;
    
}





/* Main page*/

#cover{
    padding-top:5%;
    text-align: center;
}
#cover-image img{
    width:60%;
}






/* About text */
#infoabout{
    margin-top:2%;
    margin-bottom:2%;
}
#infoabout p{
    margin:0;
}


.a1{
    font-size:1em;
}
.a2, .a3, .a4
{
    font-size:2em;
}

/* HEADER BOXES */
#head-box h1{
    font-size: 3em;
    margin:0;
    margin-top:1%;
    margin-bottom:1%;
    text-align: center;
}


/* About */

#aboutcontent{
    text-align: center;
    margin-top:2%;
    margin-bottom:2%;
}
.mepicture{
    width:20%;
    padding:2px;
    background-color: white;
    float:left;
    margin-left:20%;
    margin-bottom:2%;
}
#abouttext{
    margin-right:20%;
    margin-left:42%;
}
#abouttext h1{
    font-size:2.5em
}
#abouttext p{
    font-size:1em;
}










/* Experience */


/* TEXT PROPERTIES */
#experience{
    text-align: center;
    margin-bottom:2;
}


#experience-info h3{
    margin:0;
    margin-top:1%;
    margin-bottom:1%;
}

/* EXPERIENCE INFO*/
.experiencehead{
    font-size:2.5em;
}
.experiencetext{
    margin:0;
    font-size:1.5em;

}




















@media screen and (max-width:700px)
{
    #nav_bar a{
        margin:5px;
        font-size:0.8em ;
      }

    /* Cover */
    #cover-image img{
        width:80%;
    }
    .a1{
        font-size:2vw;
    }
    .a2, .a3, .a4
    {
        font-size:3.5vw;
    }

    /* Experience */
    .experiencehead{
        font-size:1.5em;
    }
    .experiencetext{
        margin:0;
        font-size:0.8em;
    }

    /* About */
    .mepicture{
        float:none;
    }
    .mepicture{
        width:30%;
        text-align: center;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
    }
    #abouttext{
        margin-right:5%;
        margin-left:5%;
    
    }
    #abouttext h1{
        margin:0; 
        font-size:1.5em;
    
    }
    #abouttext p{
        margin:0;
        font-size:0.8em;
    }
    #aboutp p{
        margin-left:5%;
    }
}