/*    */
@import url("https://use.typekit.net/jpw0pnj.css");




/*Body, main,and html*/
body{
    background-color: #0f0f0f;
    color:white;
    text-decoration: none;
    font-family: "copperplate", serif;
    font-weight: 300;
    font-style: normal;
    margin:0;
}
hr{
    width:101%;
    height:2px;
    background-color: white;
}



/*Footer*/

.header{
    font-size:2em;
}
#header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:100px;
    flex-wrap: wrap;
}
#header a{
    text-decoration: none;
    color:white;
}
#nav_bar{
    margin-left:1%;
    width:14%;
    line-height:25px;
}
#nav_bar a{
  margin:5px;
}
#socials img{
   width:50px;
   text-align: center;
   margin:5px;
}
#socials{
    margin-right:1%;
}





/* Main page*/

main{
    text-align: center;
}