@import url("https://use.typekit.net/vpq2oof.css");

body{
    color:white;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    background-color: black;
}
nav a{
    color:white;
    text-decoration: none;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
}

header a{
    text-decoration:none;
}

#nav_bar a{
    /* font-size: 0.5em; */
    margin:10px;
    padding:10px;
}
h1{
    font-size:5em;
}
#socials img{
    width:50px;
    margin:10px;
}