body{
    max-width: 1920px;
    margin:0 auto;
}
main{
    grid-template-columns: repeat(8,1fr);
    display:grid;
}
.cherry{
    width:100%;
}
#white{
    background-color: red;
    grid-column:1/5;
}
#grey{
    background-color: gray;
    grid-column:5/9;
}
.tart{
    font-size:9em;
    grid-column:1/8;
}