a{
    color: rgb(71,69,69);
    text-decoration:none;
    padding: 10px;
    margin: 10px;
    width:290px;
    text-align: center;
    display:block;
    background-color: #594E36;
    color:white;
    
}
body{
    background-color:#7E846B;
}
#mainpicture{
    width:fit-content;
    padding:10px;
    background-color: #594E36;
}