@import url("https://use.typekit.net/kqc7wcd.css");

    
/*body for whole page*/
body{
    background-color:#272727;
    color:white;
    font-family: "ff-nexus-typewriter", sans-serif;
    max-width:1600px; 
    margin:0 auto;
}


.main{
    margin-top:100px;
}
#navigation{
    position:fixed;
    top:0;
    width:100%;
    background-color:#272727;   
    
}


/*Header*/
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:105px;
    width:100%;
}

header a{
    text-decoration:none;
    color:white;
    align-items: center;
}





/*GitSwole header*/
#header{
    font-size:5em;
    text-decoration: none;
}

/*fix*/



nav a{
    color:white;
    text-decoration: none;  
}
#nav_bar{
    margin:30px;
}
#nav_bar a{
    margin:10px;
}

hr{
    height:3px;
    background-color: white;
    width:100%;
    margin:0;
}

/*Socials on left side of navigation*/

#socials img{
    width:50px;
    margin:10px;
    
}
#socials{
    margin:30px;
    text-decoration:none;
}




/*Purpose tab below navigation*/
.message{
    margin-top:30px;
    font-size:1.5em;
    margin-right:200px;  
    height:350px;  
}

.purpose{
    margin-top:0;
    margin-bottom:0;
    text-align:center;
    font-size:6em;
}

.us{
    width:20%;
    margin-top:0;
    background-color: white;
    padding:5px;
    float:left;
    margin:30px;  
    margin-left:200px;  
    margin-bottom:40px;
}







/*Tracker */
.Tracker{   
    text-align: center;
    font-size:5em;
    margin:0;
}
.tracker-pic{
    width:20%;
    margin-top:0;
    background-color: white;
    padding:5px;
    float:right;
    margin:30px;  
    margin-right:200px;  
    margin-bottom:0;
    
}
#tracker p{
    margin:0 auto;
}
.tracker-info{
    margin-top:30px;
    margin-left:40px;
    font-size:1.5em;
    margin-left:200px;  
    height:350px;    
}
#button-box{
    text-align: center  ;
    margin-top: 40px;
    margin-bottom:40px;
}
.tracker-box{
    padding:10px;
    background-color:white;
    text-decoration: none;
    color:black;
    border-radius: 5px;
    
    
}








/*Calculator*/
.Calculator{
    text-align: center;
    font-size:5em;
    margin:0;
}
.calculator-info{
    margin-top:30px;
    font-size:1.5em;
    margin-right:200px;  
    height:350px;    
}
.calculator-pic{ 
    background-color: white;
    padding:5px;
    float:left;
    margin:30px;
    margin-left:200px;
    margin-top:30px;
    margin-bottom:0;
}
#button-box2{
    text-align: center;
    margin-top: 40px;
    margin-bottom:40px;
}
.calculator-box{
    padding:10px;
    background-color:white;
    text-decoration: none;
    color:black;
    border-radius: 5px;
    
}





/*Footer*/
footer a{
    color:white;
    text-decoration:none;
}
footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
    
}
/*fix*/
#footer{
    width:650px;
}
.footer{
    font-size:8em;
    
}
#footer-info{
    line-height: 30px;
}
#footer-info{
    margin-top:20px;
    width:6%;
    margin-left: 50px;
    
}

#footer-contact{
    line-height: 30px;
    margin-top:20px;
    margin-right:50px;
}