/* *{
    border:1px solid white;
} */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


div{
    margin: 0 auto;
    max-width:1920px;
    background-color: #1b1a19;
}
a {
    color: rgb(71,69,69);
    text-decoration:none;
    padding: 10px;
    width:30%;
    background-color: #272727;
    color:white;
}
#primary{    
    text-align: center;
    display:flex;
    justify-content: center;
    
}
a:hover{
    background-color:#3f3f3f;
    color:white
}
h1{
    font-size:1.5em;
}
.emphasis{
    background-color: #272727;
    padding:10px;
    margin:10px;
    color: white;
    width:40%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
img{
    width:40%;
    background-color: #272727;
    margin: 5px;
    padding: 10px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#1b1a19;
    font-family:'Carter One';
    color:white;
    text-align:center;
    
}
footer p{
    background-color: #272727;
    padding:10px;
    margin:10px;
    width:100%;
    text-align:center;
    margin:0 auto;
    position:fixed;
    bottom:0;
    left:0;
}