/* *{
    border:1px solid white;
} */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


div{
    margin: 0 auto;
    max-width:1600px;
    background-color: lightblue;
}
a {
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration:none;
    padding: 10px;
    width:30%;
    background-color: rgb(76, 183, 218);
    color:white;
}
#primary{    
    text-align: center;
    display:flex;
    justify-content: center;
}
a:hover{
    background-color:rgb(98, 189, 219);
    color:white
}
h1{
    font-size:1.5em;
}
.emphasis{
    background-color: rgb(76, 183, 218);
    padding:10px;
    margin:10px;
    color: white;
    width:40%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
img{
    width:40%;
    background-color: rgb(76, 183, 218);
    margin: 5px;
    padding: 10px;
}
head{
    background-color: rgb(76, 183, 218);
    
}
body{
    
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family:'Carter One';
    color:white;
    text-align:center;
    
}
footer p{
    background-color: rgb(76, 183, 218);
    padding:10px;
    margin:10px;
    width:98.7%;
    text-align:center;
    margin:0 auto;
}