a {
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration:none;
    padding: 10px;
    margin: 5px;
    width:290px;
    text-align: center;
    display:inline-block;
    background-color: crimson;
    color:white;
    margin-left:auto;
    margin-right:auto;
  
}

.banner1{
    margin-left:auto;
    float:left;
}
.banner2{
    margin-right:auto;
    float:right;
}

.emphasis{
    background-color: crimson;
    padding:10px;
    margin:5px;
    color: white;
    width:600px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
img{
    background-color: crimson;
    margin: 5px;
    padding: 10px;
}
head{
    background-color: crimson;
    
}
body{
    background: rgb(179, 13, 46);
    color:white;
    text-align:center;
    
}
